.card {
    box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.2);
  
}

.card-header-color {
    background-color: #1687D9;
}

body {
    background-color: #E9F3FD;
}

.zoom-effect {
    transition: transform 0.3s;
}

.zoom-effect:hover {
    transform: scale(1.1);
}
.register{
    display: flex;
    justify-content: center;
    /* background-color:red; */
    
}
.main-card{
    border-radius: 50%;
    /* border:20px solid black; */
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height:85vh;
}